<div class="container">

    <form (ngSubmit)="OnSubmit()">
        <input [(ngModel)]="Fname" name="Fname" type="text" placeholder="Enter You FName" />
        <!-- (keydown)="OnSubmit()" -->
        <input [(ngModel)]="Lname" name="Lname" type="text" placeholder="Enter You LName" />

        <textarea rows="4" [(ngModel)]="discribtion" name="discribtion"></textarea>
        <input type="submit" value="submit" />
        <!-- (click)="OnSubmit()" -->

        <!-- data in the same component -->
        <!-- <table *ngIf="isFormSubmitted" border="1">
            <thead>
                <tr>
                    <th>sl No</th>
                    <th>FName</th>
                    <th>LName</th>
                    <th>msg</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let msg of msgs; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{msg.Fname}}</td>
                    <td>{{msg.Lname}}</td>
                    <td>{{msg.msg}}</td>
                </tr>
            </tbody>
        </table> -->

        <!-- data in the diffrent component -->
        <div *ngIf="isFormSubmitted" class="user_data">
            <app-message-details *ngFor="let msg of msgs; let i=index" [index]="i" [message]="msg"
                (delete)="deleteMsg($event)"></app-message-details>
        </div>
    </form>

    <!-- <div *ngIf="isFormSubmitted" class="user_data">
        <h2>User Data</h2>
        <p>Name : {{name}} </p>
        <p>Password : {{password}}</p>
    </div> -->



</div>