<div class="container">

    <form (ngSubmit)="OnSubmit()">
        <input [(ngModel)]="name" name="name" type="text" placeholder="Enter You Name" />
        <!-- (keydown)="OnSubmit()" -->
        <input [(ngModel)]="password" name="password" type="password" placeholder="Enter You password" />
        <input type="submit" value="submit" />
        <!-- (click)="OnSubmit()" -->
        <table *ngIf="isFormSubmitted" border="1">
            <thead>
                <tr>
                    <th>sl No</th>
                    <th>Name</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let msg of msgs; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{msg.name}}</td>
                    <td>{{msg.password}}</td>
                </tr>
            </tbody>
        </table>
    </form>

    <!-- <div *ngIf="isFormSubmitted" class="user_data">
        <h2>User Data</h2>
        <p>Name : {{name}} </p>
        <p>Password : {{password}}</p>
    </div> -->



</div>